.add-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

.add-container .content{

    width: 100%;
    padding: 60px;
    text-align: center;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;

}

.add-container section{
    width: 100%;
    max-width: 380px;
}

.add-container section .titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;

}

.add-container section img{
    height: 50px;
    margin: 30px 0 32px;
    margin-right: 20px;
    
}

.add-container section h1{
    margin-right: 20px;
    margin: 30px 0 32px;
    color: rgb(48, 3, 3);
}

.add-container section p{
    font-size: 20px;
    color: #737380;
    line-height: 32px;
}

.add-container form{
 
    max-width: 500px;
    display: inline;

}

.add-container form textarea{
    margin-top: 8px;
}

.add-container form input + input{
    margin-top: 8px;
}

.add-container form .form-button{
    display: flex;
}

.add-container form .form-button .button{
    width: 50%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}