.container{

    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    /* verticalmente */
    justify-content: center;
    /* horizontalmente */
}

.container h1{
    font-size: 50px;
    margin-left: auto;
    margin-top: 12px;
    text-align: center;
    color: rgb(48, 3, 3);
}

.container .container-check{

    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}
.container header, form{
    width: 50%;
    padding: 20px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.container header img{
    height: 50px;
}

.container header a{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
    text-decoration: none;

}

.container form input{
    width: 260px;
}

.container form a{
    width: 80px;
    margin-left: auto;
    margin-top: 0;
    text-decoration: none;   
}

.container .list-pendente, .list-concluido{
    width: 100%;
    padding: 20px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 12px ;
}

