.container{

    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    /* verticalmente */
    justify-content: center;
    /* horizontalmente */
}

.container h1{
    font: 400 50px Courgette;
    margin-left: auto;
    margin-top: -15px;
    text-align: center;
    color: rgb(48, 3, 3);
}


.container .container-check{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container .container-check .container-title{
    background-color: thistle;
    width: 100%;
    height: 220px;
    border-radius: 8px;
}

.container .container-check .top-bar-container{

     width: 90%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center; 

}

.container .container-check .top-bar-container .header-contend{

    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 32px auto;

}


.container .container-check form{
    width: 60%;
    padding: 20px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 10px;
}

/* .container form select{
    width: 100%;
    border-radius: 8px;
} */

.container header img{
    height: 50px;
}

.container header a{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
    text-decoration: none;

}

.container form input{
    width: 260px;
}

.container form a{
    width: 80px;
    margin-left: auto;
    margin-top: 0;
    text-decoration: none;   
}

.container .list-pendente, .list-concluido{
    width: 100%;
    padding: 20px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 12px ;
}

.container .list-pendente a{
    text-decoration: none;
    background: none;
    color: black;
    align-items: center;
}

.container  button {
    text-decoration: none;
    border: 0;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    width: 60%;
    height: 50%;
  
    
 
}



